.App{
    background-image: url("https://cdn.slidesharecdn.com/ss_thumbnails/jobadvertisement-140623134609-phpapp01-thumbnail-4.jpg?cb=1403531295");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

form{
    margin: auto !important;
    width:30% !important;
    padding: 2rem !important;
}

label {
    color: red !important;
}

input {
    width: 100%;
}

h1 {
    text-align: center !important;
}