.App {
  background-image: url("./Images/hand-603691_1280.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

form {
  margin: auto !important;
  width: 40% !important;
  padding: 2rem !important;
}

label {
  color: red !important;
}

input {
  width: 100%;
}

h1 {
  text-align: center !important;
}
